.component {
  height: min-content;
  cursor: pointer;
}

.image {
  position: relative;
  width: 100%;
  padding-top: liquid(368, $_ArticleWidth);
  border-top-left-radius: 75% 50%;
  border-top-right-radius: 75% 50%;
  overflow: hidden;

  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.title {
  margin-top: 28px;
  margin-bottom: 16px;
  line-height: 1.7em;
}

.date {
  display: block;
  color: $cHelp;
  line-height: 1em;
}
