
/*=============================================
=            Application Variables            =
=============================================*/


/*----------  Definitions  ----------*/

$_Max: 1366;
$_Min: 960;
$_Contents: 1280;
$_AroundMargin: ($_Max - $_Contents) / 2;
$_ArticleWidth: 240;

/*----------  Colors  ----------*/

$cWhite: #FFFFFF;
$cBlack: #303131;
$cHelp: #aaaaaa;
$cGradation: linear-gradient(to right, #D5FFFD, #FAF9DF);

/*----------  Size  ----------*/

$sMargin: $_AroundMargin + px;
$sMax: $_Max + px;
$sMin: $_Min + px;
$sContents: $_Contents + px;
$sFontBase: 14px;
$sLetterSpacing: .06em;
$sLineHeight: 1.8em;

/*----------  Z Indices  ----------*/

$zMenu: 10;
$zMenuButton: 11;

/*----------  Others  ----------*/

$fontFamily: Montserrat, YakuHanJP, 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体';

/*=====  End of Application Variables  ======*/
