
/*=============================================
=            Application Variables            =
=============================================*/


/*----------  Definitions  ----------*/

$windowMax: 1366px;
$windowMin: 960px;

/*----------  Colors  ----------*/

$cFontBase: #303131;
$cFontHelp: #aaaaaa;
$cGradation: linear-gradient(to right, #81e7f6, #faf9df);

/*----------  Size  ----------*/

$sFontBase: 14px;
$sLetterSpacing: .6em;
$sLineHeight: 1.8em;

/*----------  Others  ----------*/

$fontFamily: Yakuhan, Monstserrat, 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体';

/*=====  End of Application Variables  ======*/
